.wrapper {
  max-width: 70%;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.drop-container {
  @apply center-content;
  width: 100%;
  max-width: 400px;
  padding: 4rem;
  @apply has-background-dark;
  @apply border border-dashed border-2;
  @apply border-radius-1;
}

.drop-container i {
  @apply font-size-4;
}

.drop-container p {
  @apply text-center;
}

.preview-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.preview-tile {
  padding: 2rem;
  margin: 1rem;
  background: $dark;
  border-radius: 1rem;
}

.preview-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
