<div class="hero has-background-dark has-text-centered p-6 is-fullheight">
        <h1 class="title is-2 has-text-white">Timesheet Converter</h1>
        <label for="file-upload" class="file-label is-justify-content-center">
            <div
                    id="drop-container"
                    class="box has-background-info has-text-white has-border-dashed has-shadow is-rounded p-6"
                    ondrop={{ondrop}}
                    ondragover={{ondragover}}
                    ondragenter={{ondragenter}}
            >
                <span class="icon is-large">
                    <i class="fa fa-cloud-upload fa-3x"></i>
                </span>
                <p>Drop your file here or click to select</p>
            </div>
        </label>
        <input
                id="file-upload"
                type="file"
                accept="application/pdf"
                multiple
                onchange={{onchange}}
                class="is-hidden"
        />
        <div class="rows is-multiline is-flex">
            {{files}}
        </div>c
</div>
