<div id="wrapper">
    <p id="title">Timesheet Converter</p>
    <label for="file-upload">
        <div
                id="drop-container"
                ondrop={{ondrop}}
                ondragover={{ondragover}}
                ondragenter={{ondragenter}}
        >
            <i class="fa fa-cloud-upload"></i>
            <p>Drop your file here or click to select</p>
        </div>
    </label>
    <input
            id="file-upload"
            type="file"
            accept="application/pdf"
            multiple=true
            onchange={{onchange}}
    />
    <div id="preview-area">
        {{files}}
    </div>
</div>
